version: 2.1

executors:
  node:
    docker:
      - image: circleci/node:latest
  browser:
    docker:
      - image: circleci/node:latest-browsers

jobs:
  build:
    executor: node
    steps:
      - checkout

      - restore_cache:
          keys:
            # Find a cache corresponding to this specific package-lock.json checksum
            # when this file is changed, this key will fail
            - v1-npm-deps-{{ checksum "package-lock.json" }}
            # Find the most recently generated cache used from any branch
            - v1-npm-deps-

      - run: npm install

      - save_cache:
          paths:
            - ./node_modules
          key: v1-npm-deps-{{ checksum "package-lock.json" }}

      - run: npm run build

  test:
    executor: browser
    steps:
      - checkout

      - restore_cache:
          keys:
            # Find a cache corresponding to this specific package-lock.json checksum
            # when this file is changed, this key will fail
            - v1-npm-deps-{{ checksum "package-lock.json" }}
            # Find the most recently generated cache used from any branch
            - v1-npm-deps-

      - run: npm run test
      - run: npm run e2e

  release:
    executor: node
    steps:
      - checkout

      - restore_cache:
          keys:
            # Find a cache corresponding to this specific package-lock.json checksum
            # when this file is changed, this key will fail
            - v1-npm-deps-{{ checksum "package-lock.json" }}
            # Find the most recently generated cache used from any branch
            - v1-npm-deps-

      - run: npm run semantic-release || true

workflows:
  version: 2
  build-release:
    jobs:
      - build
      # - test:
      #     requires:
      #       - build
      - release:
          requires:
            - build
